<div class="container">
  <app-local-alert [alerts]="alert"></app-local-alert>
  <div appHasRole="admin"
       class="card">
    <h1>{{user.firstName}} {{user.lastName}}</h1>
    <div class="card-body">
      <h6>First Name: {{user.firstName}}</h6>
      <h6>Last Name: {{user.lastName}}</h6>
      <h6>Email: {{user.email}}</h6>
      <h6>Phone Number: {{user.phoneNumber}}</h6>
      <h6>Role: {{user.userRole}}</h6>
    </div>
    <button class="btn btn-primary"
            (click)="openEditModal()">Edit Profile</button>
    <br>
  </div>
  <br>
</div>
<hr>
