<p>
  admin-dashboard works!
</p>
<div class="container">
  <ul>
    <li>
      bla
    </li>
  </ul>
  <!--  <div class="space-30"></div>
    <div class="card" *ngIf="admin">
      <img src="../../../../../assets/images/user-icon.png" alt="Student profile picture" style="width:100%">
      <div class="card-body">
        <h5 class="card-title">{{admin.firstName}} {{admin.lastName}}</h5>
        <h5 class="card-text">{{admin.email}}</h5>
        <h5 class="card-text">{{admin.phoneNumber}}</h5>
      </div>
      <div class="space-30"></div>
    </div>-->
</div>
