<div class="container">
  <app-local-alert [alerts]="alerts"></app-local-alert>
</div>
<div class="container"
     *ngIf="teachers.length; else noTeachers">
  <div class="pageTitle">
    <h1>List of all teachers
      <button appHasRole="admin"
              type="button"
              class="btn btn-primary pull-right"
              (click)="openAddTeacherModal()">Add new teacher</button>
    </h1>
    <br>
    <br>
  </div>
  <div *ngFor="let teacher of teachers;">
    <ul class="list-group list-group-flush">
      <li class="list-group-item list-group-item-dark">
        <a [routerLink]="['/teachers', teacher.id]"
           class="list-group-item list-group-item-action">{{teacher.firstName}} {{teacher.lastName}}</a>
      </li>
    </ul>
  </div>
  <div class="pagination-container">
    <pagination class="d-flex justify-content-center pagination-index"
                [totalItems]="totalItems"
                [maxSize]="MAX_SIZE_PAGINATION"
                [(ngModel)]="currentPage"
                (pageChanged)="pageChanged($event)"></pagination>
  </div>
</div>

<ng-template #noTeachers>
  <div class="container bottom-padded">
    <h1>No teachers to show...</h1>
    <h2 appHasRole="admin"
        class="text-center">Want to add a new teacher? </h2>
    <button appHasRole="admin"
            type="button"
            class="btn btn-primary pull-right text-center"
            (click)="openAddTeacherModal()">Add new teacher</button>
  </div>
</ng-template>
