<button type="button"
        class="btn btn-secondary"
        (click)="openModal(template)">
  Edit
</button>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Edit teacher</h4>
    <button type="button"
            class="close pull-right"
            aria-label="Close"
            (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="contactForm"
          (submit)="onSubmit()">
      <div class="form-group">
        <label for="firstName">Your first name</label>
        <input formControlName="firstName"
               type="text"
               class="form-control"
               [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }"
               id="firstName"
               autocomplete='firstName'
               aria-describedby="nameHelp"
               placeholder="Enter First Name">
        <div *ngIf="submitted && f.firstName.errors"
             class="invalid-feedback">
          <div *ngIf="f.firstName.errors.required">Name is required</div>
        </div>
      </div>

      <div class="form-group">
        <label for="lastName">Your last name</label>
        <input formControlName="lastName"
               type="text"
               class="form-control"
               [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }"
               id="lastName"
               autocomplete='lastName'
               aria-describedby="nameHelp"
               placeholder="Enter Last Name">
        <div *ngIf="submitted && f.lastName.errors"
             class="invalid-feedback">
          <div *ngIf="f.lastName.errors.required">Name is required</div>
        </div>
      </div>

      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email"
               class="form-control"
               id="email"
               autocomplete='email'
               aria-describedby="emailHelp"
               placeholder="Enter email"
               formControlName="email"
               [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
        <div *ngIf="submitted && f.email.errors"
             class="invalid-feedback">
          <div *ngIf="f.email.errors.required">Email is required</div>
          <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
        </div>
      </div>

      <div class="form-group">
        <label for="phoneNumber">Your last name</label>
        <input formControlName="phoneNumber"
               type="tel"
               class="form-control"
               [ngClass]="{ 'is-invalid': submitted && f.phoneNumber.errors }"
               id="phoneNumber"
               autocomplete='phoneNumber'
               aria-describedby="nameHelp"
               placeholder="123-456-7890"
               pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}">
        <div *ngIf="submitted && f.phoneNumber.errors"
             class="invalid-feedback">
          <div *ngIf="f.phoneNumber.errors.required">Phone number is required</div>
        </div>
      </div>

      <button type="submit"
              (click)="onEdit()"
              class="btn btn-primary">Submit</button>
    </form>
  </div>
</ng-template>
