<div #modalEditRef>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Edit teacher</h4>
    <button type="button"
            class="close pull-right"
            (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <form [formGroup]="userForm"
          (submit)="onSubmit()">
      <div class="form-group">
        <label for="firstName">Your first name</label>
        <input formControlName="firstName"
               type="text"
               class="form-control"
               [ngClass]="{ 'is-invalid': isSubmitted && formErrors('firstName')}"
               id="firstName"
               autocomplete='firstName'
               aria-describedby="nameHelp"
               placeholder="Enter First Name">
        <div *ngIf="isSubmitted && formErrors('firstName')"
             class="invalid-feedback">
          <div *ngIf="formErrors('firstName').required">Name is required</div>
        </div>
      </div>

      <div class="form-group">
        <label for="lastName">Your last name</label>
        <input formControlName="lastName"
               type="text"
               class="form-control"
               [ngClass]="{ 'is-invalid': isSubmitted && formErrors('lastName') }"
               id="lastName"
               autocomplete='lastName'
               aria-describedby="nameHelp"
               placeholder="Enter Last Name">
        <div *ngIf="isSubmitted && formErrors('lastName')"
             class="invalid-feedback">
          <div *ngIf="formErrors('lastName').required">Name is required</div>
        </div>
      </div>

      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email"
               class="form-control"
               id="email"
               autocomplete='email'
               aria-describedby="emailHelp"
               placeholder="Enter email"
               formControlName="email"
               [ngClass]="{ 'is-invalid': isSubmitted && formErrors('email') }">
        <div *ngIf="isSubmitted && formErrors('email')"
             class="invalid-feedback">
          <div *ngIf="formErrors('email').required">Email is required</div>
          <div *ngIf="formErrors('email').email">Email must be a valid email address</div>
        </div>
      </div>

      <div class="form-group">
        <label for="phoneNumber">Your last name</label>
        <input formControlName="phoneNumber"
               type="tel"
               class="form-control"
               [ngClass]="{ 'is-invalid': isSubmitted && formErrors('phoneNumber') }"
               id="phoneNumber"
               autocomplete='phoneNumber'
               aria-describedby="nameHelp"
               placeholder="123-456-7890"
               pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}">
        <div *ngIf="isSubmitted && formErrors('phoneNumber')"
             class="invalid-feedback">
          <div *ngIf="formErrors('phoneNumber').required">Phone number is required</div>
        </div>
      </div>

      <button [disabled]="userForm.invalid"
              type="submit"
              class="btn btn-primary"
              (click)="bsModalRef.hide()">Submit</button>
    </form>
  </div>
</div>
