<div #modalEditRef>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Edit teacher</h4>
    <button type="button"
            class="close pull-right"
            (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <form [formGroup]="userForm"
          (submit)="onSubmit()">
      <div class="form-group">
        <label for="firstName">Your first name</label>
        <input formControlName="firstName"
               type="text"
               class="form-control"
               [ngClass]="{ 'is-invalid': submitted && firstNameErrors}"
               id="firstName"
               autocomplete='firstName'
               aria-describedby="nameHelp"
               placeholder="Enter First Name">
        <div *ngIf="submitted && firstNameErrors"
             class="invalid-feedback">
          <div *ngIf="firstNameErrors.required">Name is required</div>
        </div>
      </div>

      <div class="form-group">
        <label for="lastName">Your last name</label>
        <input formControlName="lastName"
               type="text"
               class="form-control"
               [ngClass]="{ 'is-invalid': submitted && lastNameErrors }"
               id="lastName"
               autocomplete='lastName'
               aria-describedby="nameHelp"
               placeholder="Enter Last Name">
        <div *ngIf="submitted && lastNameErrors"
             class="invalid-feedback">
          <div *ngIf="lastNameErrors.required">Name is required</div>
        </div>
      </div>

      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email"
               class="form-control"
               id="email"
               autocomplete='email'
               aria-describedby="emailHelp"
               placeholder="Enter email"
               formControlName="email"
               [ngClass]="{ 'is-invalid': submitted && emailErrors }">
        <div *ngIf="submitted && emailErrors"
             class="invalid-feedback">
          <div *ngIf="emailErrors.required">Email is required</div>
          <div *ngIf="emailErrors.email">Email must be a valid email address</div>
        </div>
      </div>

      <!-- mask="000-000-0000" -->
      <div class="form-group">
        <label for="phoneNumber">Your last name</label>
        <input formControlName="phoneNumber"
               type="tel"
               class="form-control"
               [ngClass]="{ 'is-invalid': submitted && phoneNumberErrors }"
               id="phoneNumber"
               autocomplete='phoneNumber'
               aria-describedby="nameHelp"
               placeholder="123-456-7890"
               pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}">
        <div *ngIf="submitted && phoneNumberErrors"
             class="invalid-feedback">
          <div *ngIf="phoneNumberErrors.required">Phone number is required</div>
        </div>
      </div>

      <!-- [disabled]="form.invalid" -->
      <button [disabled]="userForm.invalid"
              type="submit"
              class="btn btn-primary"
              (click)="showTeacher()"
              (click)="bsModalRef.hide()">Submit</button>
    </form>
  </div>
</div>
