<div class="container">
  <div class="space-30"></div>
  <div class="card" *ngIf="student" >
    <img src="../../../../../assets/images/user-icon.png" alt="Student profile picture" style="width:100%">
    <div class="card-body">
      <h5 class="card-title">{{student.firstName}} {{student.lastName}}</h5>
      <h5 class="card-text">{{student.email}}</h5>
      <h5 class="card-text">{{student.groupName}}</h5>
      <h5 class="card-text">{{student.phoneNumber}}</h5>
    </div>
  </div>
  <div class="space-30"></div>
</div>
