<div class="container">
  <div *ngFor="let alert of alerts">
    <alert [type]="alert.type">{{ alert.msg }}</alert>
  </div>
</div>
<div class="container"
     *ngIf="student">
  <h1 class="text-center">{{student.firstName}} {{student.lastName}}</h1>
  <div>
    <h3>First Name: {{student.firstName}}</h3>
    <h3>Last Name: {{student.lastName}}</h3>
    <h3>Email: {{student.email}}</h3>
    <h3>Phone Number: {{student.phoneNumber}}</h3>
    <h3>Group Name: {{groupName}}</h3>

    <button class="btn btn-danger"
            (click)="openDeleteModal()">Delete</button>

    <button class="btn btn-default"
            (click)="openEditModal()">Edit</button>
    <br>
    <br>
  </div>
  <br>
</div>
