<div class="container table-responsive">

  <table class="table table-sm table-hover">
    <thead>
    <tr  class="table-success">
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Laboratory</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let course of courses">
      <th scope="row">1</th>
      <td>{{course.name}} </td>
      <td><button>Add Laboratory</button></td>
    </tr>



    <tr>
      <th scope="row">1</th>
      <td>Math</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>History</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Biology</td>
      <td>@fat</td>
    </tr>
    </tbody>
  </table>

</div>
