<div class="container">
  <div class="card" *ngIf="user && user.isStudent()">
    <h1>{{user.firstName}} {{user.lastName}}</h1>
    <div class="card-body">
      <h6>First Name: {{user.firstName}}</h6>
      <h6>Last Name: {{user.lastName}}</h6>
      <h6>Email: {{user.email}}</h6>
      <h6>Phone Number: {{user.phoneNumber}}</h6>
      <h6>Role: {{user.userRole}}</h6>
  </div>
  <br>
</div>
<hr>

<div>
  <tabset #staticTabs>
    <tab heading="My Courses">
      <app-my-courses></app-my-courses>
    </tab>
    <tab heading="My Teachers">
      <app-my-teachers></app-my-teachers>
    </tab>
  </tabset>
</div>
<br><br>
