<div class="container">
  <app-local-alert [alerts]="alerts"></app-local-alert>
</div>
<div class="container">
  <h3> Group Name: {{group?.name}}</h3>
  <h3> Specialty Name: {{group.specialty?.name}}</h3>
  <button appHasRole="admin"
          class="btn btn-danger mt-2 mb-2 mr-2"
          (click)="openDeleteModal()">Delete
  </button>
  <button appHasRole="admin"
          class="btn btn-success mt-2 mb-2 mr-2"
          (click)="openEditModal()">Edit
  </button>

  <ul class="list-group"
      *ngIf="groupStudents.length;else noStudents">
    <h1>
      <em>Students from this group</em>
    </h1>
    <li class="list-group-item list-group-item-dark"
        *ngFor="let student of groupStudents">
      <h4 class="list-group-item">{{student.firstName}} {{student.lastName}}</h4>
    </li>
  </ul>
</div>

<ng-template #noStudents>
  <h1>
    <em>This group has no students.</em>
  </h1>
</ng-template>
