<div class="container">
  <app-local-alert [alerts]="alerts"></app-local-alert>
  <div class="space-30">
    <input type="text"
           class="input-group-text"
           *ngIf="group"
           [(ngModel)]="group.name"
           [attr.readOnly]="isEditable"
           [ngClass]="{ 'is-invalid': isSubmitted && groupName.errors }">
    <input type="text"
           class="input-group-text"
           *ngIf="group"
           [(ngModel)]="group.specialty.name"
           [attr.readOnly]="isEditable"
           [ngClass]="{ 'is-invalid': isSubmitted && specialtyName.errors }">
    <button class="btn btn-primary"
            (click)="openEditModal()">Edit
    </button>
    <button (click)="openDeleteModal()"
            class="btn btn-danger">Delete
    </button>

  </div>
</div>
