<div class="modal-header">
  <h4 class="modal-title pull-left">Add a new course</h4>
  <button type="button"
          class="close pull-right"
          aria-label="Close"
          (click)="openConfirmLeaveModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="courseForm"
        class="form-group"
        (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name"
             class="form-check-label">Course name</label>
      <input formControlName="name"
             type="text"
             class="form-control"
             [ngClass]="{ 'is-invalid': isSubmitted && nameError }"
             id="name"
             placeholder="Enter Group name">
      <div *ngIf="isSubmitted && nameError"
           class="invalid-feedback">
        <div *ngIf="nameError.required"
             class="text-danger">Course name is required</div>
      </div>
    </div>
    <button class="btn btn-primary"
            [disabled]="courseForm.invalid">Add course</button>
  </form>
</div>
