.author-quote{
  margin-right: 150px;
}


 @media screen and (max-width: 736px) {
    .block-size{
    height: 230px;
  }
}

h2 {
  font-size: 92px;
  padding: 80px 50px;
  text-align: center;
  text-transform: uppercase;
}
