<div class="modal-header">
  <h4 class="modal-title pull-left">Add a new group</h4>
  <button class="close pull-right"
          (click)="modalRef.hide()"></button>
</div>
<div class="modal-body">
  <app-local-alert [alerts]="alerts"></app-local-alert>
  <form [formGroup]="groupForm"
        (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text"
             id="name"
             class="form-control"
             placeholder="Name"
             formControlName="name"
             [ngClass]="{ 'is-invalid': isSubmitted && groupName.errors }">
      <div *ngIf="isSubmitted && groupName.errors"
           class="invalid-feedback">The name of group is required
      </div>
    </div>
    <div class="form-group">
      <label for="specialty">Specialty</label>
      <input type="text"
             id="specialty"
             class="form-control"
             placeholder="Specialty Name"
             formControlName="specialty"
             [typeahead]="specialties"
             [typeaheadOptionsLimit]="7"
             [typeaheadMinLength]="0"
             [ngClass]="{ 'is-invalid': isSubmitted && specialtyName.errors }"
             typeaheadOptionField="name"
             (typeaheadNoResults)="handleNoResults($event)">
      <div *ngIf="isSubmitted && specialtyName.errors"
           class="invalid-feedback">The name of specialty is required
      </div>
    </div>
    <button class="btn btn-primary"
            [disabled]="groupForm.invalid">Add group</button>
  </form>
</div>
