<div class="container table-responsive">

  <table class="table table-sm table-hover">
    <thead>
    <tr  class="table-success">
      <th scope="col">#</th>
      <th scope="col">Firstname</th>
      <th scope="col">Lastname</th>
      <th scope="col">Phone Number</th>
      <th scope="col">Email</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let teacher of teachers; let i = index">
      <th scope="row">{{i+1}}</th>
      <td>{{teacher.firstName}}</td>
      <td>{{teacher.lastName}}</td>
      <td>{{teacher.phoneNumber}}</td>
      <td>{{teacher.email}}</td>
    </tr>
    <tr class="lab-student-list" *ngIf="activeRowIndex === i && isShown">
      <td colspan="6" class="lab-student-list_item">
        <app-labs-list-for-teacher [students]="student"></app-labs-list-for-teacher>
      </td>
    </tr>
    </tbody>
  </table>

</div>
