<div class="container">
  <app-local-alert [alerts]="alerts"></app-local-alert>
  <div class="space-30">
    <label for="name"
           class="font-weight-bold">Name</label>
    <input id="name"
           type="text"
           class="input-group-text"
           *ngIf="specialty"
           [(ngModel)]="specialty.name"
           [attr.readOnly]="isEditable"
           [ngClass]="{ 'is-invalid': isSubmitted && specialtyName.errors }">
    <button appHasRole
            class="btn btn-primary"
            (click)="openEditModal()">Edit
    </button>
    <button appHasRole
            (click)="openDeleteModal()"
            class="btn btn-danger">Delete
    </button>
  </div>
</div>
