<div class="container">
  <app-local-alert [alerts]="alerts"></app-local-alert>
</div>
<div class="container"
     *ngIf="courses.length; else noCourses">
  <div class="pageTitle">
    <h1>
      List of all courses
      <button appHasRole="admin"
              class="btn btn-primary pull-right"
              (click)="openAddCourseModal()">
        Add new course
      </button>
    </h1>
    <br>
    <br>
  </div>
  <div *ngFor="let course of courses">
    <ul class="list-group list-group-flush">
      <li class="list-group-item list-group-item-dark">
        <a [routerLink]="['/courses', course.id ]"
           class="list-group-item list-group-item-action">
          {{ course.name }}
        </a>
      </li>
    </ul>
  </div>
  <div class="pagination-container">
    <pagination class="d-flex justify-content-center"
                [totalItems]="totalItems"
                [(ngModel)]="currentPage"
                (pageChanged)="pageChanged($event)"></pagination>
  </div>
</div>

<ng-template #noCourses>
  <div class="container bottom-padded">
    <h1>No courses to show...</h1>
    <h2 appHasRole="admin"
        class="text-center">Want to add a new course? </h2>
    <button appHasRole="admin"
            type="button"
            class="btn btn-primary pull-right text-center"
            (click)="openAddCourseModal()">Add new course</button>
  </div>
</ng-template>
