.student-item {
  cursor: pointer;
}

.cell-padding{
  padding-left: 5px;
}

td, th {
  padding-left: 2px;
  padding-right: 2px;
}

.lab-student-list {
  padding-top: 0;
  padding-bottom: 0;
}

.lab-student-list_item {
  padding: 0;
}
