<div class="container">
  <app-local-alert [alerts]="alerts"></app-local-alert>
</div>

<div class="container"
     *ngIf="course">
  <h3> Course Name: {{course.name}}</h3>

  <button appHasRole="admin"
          class="btn btn-danger mt-2 mb-2 mr-2"
          (click)="openDeleteModal()">Delete
  </button>
  <button appHasRole="admin"
          class="btn btn-success mt-2 mb-2 mr-2"
          (click)="openEditModal()">Edit
  </button>

  <ul class="list-group"
      *ngIf="courseTeachers && courseTeachers.length>0;else noTeachers">
    <p>This course has students:</p>
    <li class="list-group-item list-group-item-dark"
        *ngFor="let teacher of courseTeachers">
      <h4 class="list-group-item">{{teacher.firstName}} {{teacher.lastName}}</h4>
    </li>
  </ul>
  <hr>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>


<ng-template #noTeachers>
  <h1>
    <em>This course has no teachers.</em>
  </h1>
</ng-template>
