<div class="container">
  <app-local-alert [alerts]="alerts"></app-local-alert>
</div>
<div class="container"
     *ngIf="specialties.length; else noSpecialties">
  <div class="pageTitle">
    <h1>List of all specialties
      <button appHasRole="admin"
              class="btn btn-primary pull-right"
              (click)="openAddModal()">Add a new specialty
      </button>
    </h1>
    <br>
    <br>
    <ul class="list-group ">
      <li class="list-group-item list-group-item-dark"
          *ngFor="let specialty of specialties"
          [routerLink]="['/specialties', specialty.id]">
        <a class="list-group-item list-group-item-action">{{specialty.name}}</a>
      </li>
    </ul>
  </div>
  <div class="pagination-container">
    <pagination class="d-flex justify-content-center"
                *ngIf="totalItems && currentPage"
                [totalItems]="totalItems"
                [maxSize]="MAX_SIZE_PAGINATION"
                [(ngModel)]="currentPage"
                (pageChanged)="pageChanged($event)"></pagination>
  </div>
</div>

<ng-template #noSpecialties>
  <div class="container bottom-padded">
    <h1>No specialties to show...</h1>
    <h2 appHasRole="admin"
        class="text-center">Want to add a new specialty? </h2>
    <button appHasRole="admin"
            type="button"
            class="btn btn-primary pull-right text-center"
            (click)="openAddModal()">Add new Specialty</button>
  </div>
</ng-template>
