<div class="container">
  <app-local-alert [alerts]="alerts"></app-local-alert>
</div>
<div class="container"
     *ngIf="students.length; else noStudents">
  <div class="pageTitle">
    <h1>List of all students
      <button appHasRole="admin"
              class="btn btn-primary pull-right"
              (click)="openAddStudentModal()">Add new student</button>
    </h1>
    <br>
    <br>
  </div>
  <div *ngFor="let student of students">
    <ul class="list-group list-group-flush">
      <li class="list-group-item list-group-item-dark">
        <a [routerLink]="['/students', student.id]"
           class="list-group-item list-group-item-action">
          {{student.firstName}} {{student.lastName}}
        </a>
      </li>
    </ul>
  </div>
  <div class="pagination-container">
    <pagination class="d-flex justify-content-center pagination-index"
                [totalItems]="totalItems"
                [maxSize]="MAX_SIZE_PAGINATION"
                [(ngModel)]="currentPage"
                (pageChanged)="pageChanged($event)"></pagination>
  </div>
</div>

<ng-template #noStudents>
  <div class="container bottom-padded">
    <h1>No students to show...</h1>
    <h2 appHasRole="admin"
        class="text-center">Want to add a new Student? </h2>
    <button appHasRole="admin"
            type="button"
            class="btn btn-primary pull-right text-center"
            (click)="openAddStudentModal()">Add new student</button>
  </div>
</ng-template>
