<div class="container">
  <h1>Students</h1>

  <div class="form-group form-group-justified row" *ngIf="students.length > 0; else noStudents">

    <div class="col-sm-4 col-xs-12 card" *ngFor="let student of students" style="width:20rem;margin:5px 0px 5px 0px">
      <img class="card-img-top" src="../../../../../assets/images/user-icon.png" alt="Student profile picture" style="width:100%">
      <div class="card-body">
        <h5 class="card-title">{{student.firstName}} {{student.lastName}}</h5>
        <a [routerLink]="['/students', student.id]" class="btn btn-primary">See Profile</a>
      </div>
    </div>

  </div>

  <ng-template #noStudents>
    <h2>No students to show...</h2>
  </ng-template>
</div>
