<div class="container">
  <div *ngIf="students.length > 0; else noStudents">
    <div class="pageTitle">
      <h1>List of all students
        <app-add-student class="pull-right"></app-add-student>
      </h1>
      <br>
    </div>
    <div *ngFor="let student of students; intex as i ">
      <ul class="list-group list-group-flush">
        <li class="list-group-item list-group-item-dark">
          <a routerLink='/students/{{student.id}}'
             class="list-group-item list-group-item-action">{{student.firstName}} {{student.lastName}}</a>
        </li>
      </ul>
    </div>
  </div>

  <ng-template #noStudents>
    <h1>No students to show...</h1>
    <div class="text-center">
      <h2>Want to add a new Student? </h2>
    </div>
    <div class="text-center">
      <app-add-student></app-add-student>
    </div>
  </ng-template>

</div>
