<div appHasRole="teacher"
     class="labs-cell">
  <form *ngIf="courseInstance.fileExists === false">
    <input type="file"
           ngFileSelect
           [options]="options"
           (uploadOutput)="onUploadOutput($event)"
           [uploadInput]="uploadInput"
           id="task-file"
           name="task-file"
           class="inputfile"
           value="Add Task" />
    <label for="task-file">
      <i class="fa fa-upload"
         aria-hidden="true"></i>
      Choose a task file...</label>
    <input type="button"
           [disabled]="isDisabled"
           (click)="uploadTask(courseInstance.id)"
           class="btn btn-secondary submit-button"
           value="Submit" />
  </form>
  <div *ngIf="courseInstance.fileExists">
    <button class="btn btn-secondary icon-button"
            (click)="downloadTask(courseInstance.id)">
      <i class="fa fa-file"></i>
      <br>Download Task
    </button>
    <button class="btn btn-secondary delete-button"
            (click)="deleteTask(courseInstance.id)">Delete Task
    </button>
  </div>
  <br>
</div>

<div *ngIf="courseInstance.fileExists"
     appHasRole="student"
     class=" labs-cell">
  <button class="btn btn-secondary icon-button"
          (click)="downloadTask(courseInstance.id)">
    <i class="fa fa-file"></i>
    <br>Download Task
  </button>
</div>
