<div class="container table-responsive">

  <table class="table table-sm table-hover">
    <thead>
    <tr class="table-success">
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col"
          class="labs-cell"
          [appHasRole]="'student'">Task
      </th>
      <th scope="col"
          class="labs-cell">
        <div [appHasRole]="'student'">My Report</div>
        <div [appHasRole]="'teacher'">My Task</div>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let course of courses; let i = index">
      <th scope="row">{{i+1}}</th>
      <td>{{course.name}}</td>
      <td appHasRole="student"
          class="labs-cell">
        <button
          class="btn btn-secondary icon-button"><i class="fa fa-file"></i><br>Download Task Name</button>
      </td>

      <td class="labs-cell">
        <div [appHasRole]="'student'">
          <form>
            <input type="file"
                   id="raport-file"
                   class="custom-file-input inputfile"
                   value="Add Task"/>
            <label for="raport-file"><i class="fa fa-upload"
                                        aria-hidden="true"></i>
              Choose a file...</label> <br>
            <input type="submit"
                   class="btn btn-secondary submit-button"
                   value="Submit"/>
          </form>
          <div>
            <button class="btn btn-secondary icon-button"><i class="fa fa-file"></i><br>{{course.labReport?.name}}Download
              Raport Name</button>
            <br>
            <button class="btn btn-secondary delete-button">Delete Report</button>
          </div>
        </div>

        <div [appHasRole]="'teacher'"
             class="custom-file">
          <form>
            <input type="file"
                   id="task-file"
                   class="custom-file-input inputfile"
                   value="Add Task"/>
            <label for="raport-file"><i class="fa fa-upload"
                                        aria-hidden="true"></i>
              Choose a file...</label> <br>
            <input type="submit"
                   class="btn btn-secondary submit-button"
                   value="Submit"/>
          </form>
          <div>
            <button class="btn btn-secondary icon-button"><i class="fa fa-file"><br>{{course.labTask?.name}}Download
              Task Name</i></button>
            <br>
            <button class="btn btn-secondary delete-button">Delete Task</button>
          </div>
          <br>
        </div>
      </td>

    </tr>
    </tbody>
  </table>
</div>
