<div class="container table-responsive">

  <table class="table table-sm table-hover">
    <thead>
    <tr class="table-success">
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col"
          class="labs-cell"
          appHasRole="student">Task
      </th>
      <th scope="col"
          class="labs-cell">
        <div appHasRole="student">My Report</div>
        <div appHasRole="teacher">My Task</div>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let course of courses; let i = index">
      <th scope="row">{{i+1}}</th>
      <td>{{course.name}}</td>
      <td appHasRole="student"
          class="labs-cell">
        <button
          class="btn btn-secondary icon-button"><i class="fa fa-file"></i><br>Download Task Name
        </button>
      </td>

      <td class="labs-cell">
        <div appHasRole="student">
          <form *ngIf="fileExists">
            <input type="file"
                   ngFileSelect
                   [options]="options"
                   (uploadOutput)="onUploadOutput($event)"
                   [uploadInput]="uploadInput"
                   id="report-file"
                   name="report-file"
                   class="inputfile"
                   value="Add Report"/>
            <label for="report-file"><i class="fa fa-upload"
                                        aria-hidden="true"></i>
              Choose a file...</label> <br>
            <input type="button"
                   (click)="uploadReport(course.id)"
                   class="btn btn-secondary submit-button"
                   value="Submit"/>

          </form>
          <div *ngIf="fileExists">
            <button class="btn btn-secondary icon-button"
                    (click)="downloadReport(course.labReport.id)"><i class="fa fa-file"></i><br>{{course.labReport?.name}}Download
              Raport Name
            </button>
            <br>
            <button class="btn btn-secondary delete-button"
                    (click)="deleteReport()">Delete Report
            </button>
          </div>
        </div>

        <div appHasRole="teacher"
             class="custom-file">
          <form *ngIf="fileExists">
            <input type="file"
                   ngFileSelect
                   [options]="options"
                   (uploadOutput)="onUploadOutput($event)"
                   [uploadInput]="uploadInput"
                   id="task-file"
                   name="task-file"
                   class="inputfile"
                   value="Add Task"/>
            <label for="task-file"><i class="fa fa-upload"
                                      aria-hidden="true"></i>
              Choose a file...</label> <br>
            <input type="button"
                   (click)="uploadTask(course.id)"
                   class="btn btn-secondary submit-button"
                   value="Submit"/>

          </form>
          <div *ngIf="fileExists">
            <button class="btn btn-secondary icon-button"
                    (click)="downloadTask(course.labTask.id)"><i class="fa fa-file"></i><br>{{course.labTask?.name}}Download
              Task Name
            </button>
            <br>
            <button class="btn btn-secondary delete-button"
                    (click)="deleteTask()">Delete Task
            </button>
          </div>
          <br>
        </div>
      </td>

    </tr>
    </tbody>
  </table>
</div>
