.iconbtn, .iconbtn:active {
  background-color: transparent !important;
  color: grey;
  border-color: transparent !important;
  border: none !important;
}

.iconbtn:active {
  color: #7ab8a7 !important;
  border: none !important;
}

.addbtn {
  background-color: #7ab8a7;
}

.dltbtn {
  background-color: #d78c42;
}
