<div class="container table-responsive">

  <table class="table table-sm table-hover">
  <thead>
  <tr class="table-success">
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col"
        class="labs-cell"
        appHasRole="student">Task
    </th>
    <th scope="col"
        class="labs-cell">
      <div appHasRole="student">My Report</div>
      <div appHasRole="teacher">My Task</div>
    </th>
  </tr>
  </thead>

  <tbody>
    <tr *ngFor="let courseInstance of courseInstances; let i = index">
      <th scope="row">{{i+1}}</th>
      <app-course-item [user]="user" [courseInstance]="courseInstance"></app-course-item>
    </tr>
  </tbody>

  </table>
</div>
