<div appHasRole="teacher">

  <td>{{courseInstance.course.name}}</td>
  <td class="labs-cell">
    <form *ngIf="!courseInstance.fileExists">
      <input type="file"
             ngFileSelect
             [options]="options"
             (uploadOutput)="onUploadOutput($event)"
             [uploadInput]="uploadInput"
             id="task-file"
             name="task-file"
             class="inputfile"
             value="Add Task"/>
      <label for="task-file"><i class="fa fa-upload"
                                aria-hidden="true"></i>
        Choose a task file...</label>
      <input type="button"
             [disabled]="isDisabled"
             (click)="uploadTask(courseInstance.id)"
             class="btn btn-secondary submit-button"
             value="Submit"/>
    </form>
    <div *ngIf="courseInstance.fileExists">
      <button class="btn btn-secondary icon-button"
              (click)="downloadTask(courseInstance.id)"><i class="fa fa-file"></i><br>Download
        Task
      </button>
      <button class="btn btn-secondary delete-button"
              (click)="deleteTask(courseInstance.id)">Delete Task
      </button>
    </div>
    <br>
  </td>

</div>




<div appHasRole="student">

  <td>{{courseInstance.course.name}}</td>
  <td class="labs-cell">
    <button class="btn btn-secondary icon-button"
            (click)="downloadTask(courseInstance.id)"><i class="fa fa-file"></i><br>Download
      Task
    </button>
  </td>

  <td class="labs-cell">
    <form *ngIf="!courseInstance.labReport">
      <input type="file"
             ngFileSelect
             [options]="options"
             (uploadOutput)="onUploadOutput($event)"
             [uploadInput]="uploadInput"
             id="report-file"
             name="report-file"
             class="inputfile"
             value="Add Report"/>
      <label for="report-file"><i class="fa fa-upload"
                                  aria-hidden="true"></i>
        Choose a report file...</label>
      <input type="button"
             (click)="uploadReport(courseInstance.id)"
             class="btn btn-secondary submit-button"
             value="Submit"/>
    </form>
    <div *ngIf="courseInstance.labReport">
      <button class="btn btn-secondary icon-button"
              (click)="downloadReport(courseInstance.labReport.id)"><i class="fa fa-file"></i><br>Download Report
      </button>
    </div>
  </td>

</div>
