<app-default-modal [form]="itemForm"
                   [title]="title">
  <form [formGroup]="itemForm"
        (ngSubmit)="onSubmit()">
    <div class="form-group"
         *ngIf="itemType == 'student' || itemType == 'teacher' || itemType == 'admin'">
      <div *ngIf="isRequestError"
           class="text-center mb-3 text-danger">
        <p>Email or phone number exist!</p>
        <img src="../../../../assets/images/tenor.gif"
             class="image-error" />
      </div>
      <label for="firstName">First name</label>
      <input formControlName="firstName"
             type="text"
             class="form-control"
             [class.is-invalid]="isSubmitted && firstName.errors"
             id="firstName"
             autocomplete="on"
             placeholder="Enter First Name">
      <p class="font-size">Characters are allowed - <span class="text-danger">a-z</span> and <span class="text-danger">A-Z</span>
      </p>
      <div *ngIf="isSubmitted && firstName.errors"
           class="invalid-feedback">
        <div *ngIf="firstName.errors.required">First Name is required</div>
        <div *ngIf="firstName.errors.pattern">First Name is composed only from letters!</div>
      </div>
    </div>

    <div class="form-group"
         *ngIf="itemType == 'student' || itemType == 'teacher' || itemType == 'admin'">
      <label for="lastName">Last name</label>
      <input formControlName="lastName"
             type="text"
             class="form-control"
             [class.is-invalid]="isSubmitted && lastName.errors"
             id="lastName"
             autocomplete="on"
             placeholder="Enter Last Name">
      <p class="font-size">Characters are allowed - <span class="text-danger">a-z</span> and <span class="text-danger">A-Z</span>
      </p>
      <div *ngIf="isSubmitted && lastName.errors"
           class="invalid-feedback">
        <div *ngIf="lastName.errors.required">Last Name is required</div>
        <div *ngIf="lastName.errors.pattern">Last Name is composed only from letters!</div>
      </div>
    </div>

    <div class="form-group"
         *ngIf="itemType == 'student' || itemType == 'teacher' || itemType == 'admin'">
      <label for="email">Email address</label>
      <input type="email"
             class="form-control"
             id="email"
             autocomplete="on"
             placeholder="Enter email"
             formControlName="email"
             [class.is-invalid]="isSubmitted && email.errors || isRequestError">
      <p class="font-size">Mandatory character <span class="text-danger">@</span></p>
      <div *ngIf="isSubmitted && email.errors"
           class="invalid-feedback">
        <div *ngIf="email.errors.required">Email is required</div>
        <div *ngIf="email.errors.email">Email must be a valid email address</div>
      </div>
    </div>

    <div class="form-group"
         *ngIf="itemType == 'student'">
      <label for="groupId">Group Name</label>
      <select name="groupId"
              formControlName="groupId"
              size="4"
              id="groupId"
              autocomplete="on"
              type="text"
              [class.is-invalid]="isSubmitted && groupId.errors"
              class="form-control test">
        <option *ngFor="let group of groupsName"
                value="{{group.id}}">{{group.name}}</option>
      </select>
      <div *ngIf="isSubmitted && groupId.errors"
           class="invalid-feedback">
        <div *ngIf="groupId.errors.required">Group Name is required</div>
      </div>
    </div>

    <div class="form-group"
         *ngIf="itemType == 'student' || itemType == 'teacher' || itemType == 'admin'">
      <label for="phoneNumber">Phone Number</label>
      <input formControlName="phoneNumber"
             type="tel"
             class="form-control"
             [class.is-invalid]="(isSubmitted && phoneNumber.errors) || (phoneNumberFormat() === false && isSubmitted) || isRequestError"
    
             id="phoneNumber"
             autocomplete="on"
             placeholder="0XXXXXXXX"
             maxlength="9">
      <p class="font-size">The phone number should begin on <span class="text-danger">06</span> or <span
        class="text-danger">07</span> and contain <span class="text-danger">9</span> digits</p>
      <div *ngIf="isSubmitted && phoneNumber.errors"
           class="invalid-feedback">
        <div *ngIf="phoneNumber.errors.required">Phone number is required</div>
      </div>
      <div *ngIf="phoneNumberFormat() === false && isSubmitted"
           class="text-danger">Phone number format is incorect!
      </div>
    </div>

    <div class="form-group"
         *ngIf=" (itemType == 'student' || itemType == 'teacher' || itemType == 'admin') && onAdd">
      <label for="password">Password</label>
      <input formControlName="password"
             type="password"
             class="form-control"
             [class.is-invalid]="isSubmitted && password.errors"
             id="password"
             autocomplete="on"
             placeholder="Enter a password">
      <div *ngIf="isSubmitted && password.errors"
           class="invalid-feedback">
        <div *ngIf="password.errors.required">Password is required</div>
      </div>
    </div>

    <div class="form-group"
         *ngIf="itemType == 'course' || itemType == 'specialty' || itemType == 'group'">
      <div *ngIf="isRequestError"
           class="mb-3 text-danger">This item exist!</div>
      <label for="name">Name</label>
      <input type="text"
             id="name"
             class="form-control"
             placeholder="Name"
             formControlName="name"
             [class.is-invalid]="isSubmitted && name.errors">
      <p *ngIf="itemType == 'course' || itemType == 'specialty'" class="font-size">Characters are allowed - <span
        class="text-danger">a-z</span> and <span class="text-danger">A-Z</span>
      <p *ngIf="itemType == 'group'" class="font-size">The name should start with <span class="text-danger">2, 3</span>
        uppercase letters followed by <span class="text-danger">3 </span>digits
      </p>
      <div *ngIf="isSubmitted && name.errors"
           class="invalid-feedback">The name is required
      </div>
    </div>

    <div class="form-group"
         *ngIf="itemType == 'group'">
      <label for="specialtyId">Specialty</label>
      <select name="specialtyId"
              formControlName="specialtyId"
              id="specialtyId"
              size="4"
              autocomplete="on"
              type="text"
              [class.is-invalid]="isSubmitted && specialtyId.errors"
              class="form-control">
        <p class="font-size">Characters are allowed - <span class="text-danger">a-z</span> and <span
          class="text-danger">A-Z</span>
        </p>
        <option *ngFor="let specialty of specialtiesName"
                value="{{specialty.id}}">{{specialty.name}}</option>
      </select>
      <div *ngIf="isSubmitted && specialtyId.errors"
           class="invalid-feedback">The id of specialty is required
      </div>
    </div>

    <div class="form-group"
         *ngIf="itemType == 'specialty' || itemType == 'course'">
      <label for="description">Description</label>
      <input type="text"
             id="description"
             class="form-control"
             placeholder="Description"
             formControlName="description"
             [class.is-invalid]="isSubmitted && description.errors">
      <p class="font-size">Maximum length <span class="text-danger">50</span> characters
      </p>
      <div *ngIf="isSubmitted && description.errors"
           class="invalid-feedback">Description is required
      </div>
    </div>

    <button [disabled]="itemForm.invalid"
            type="submit"
            class="btn btn-primary">{{buttonTitle}}</button>
  </form>
</app-default-modal>
