.table {
  margin: 0;
}

.cell-padding{
  padding-right: 50px;
  padding-left: 5px;
}

td, th {
  padding-left: 0;
  padding-right: 0;
}

.download-labs {
  cursor: pointer;
  border: none;
  background: none;
}

.name-lab {
  padding-top: 5px;
  margin: 0;
}
