<div class="table-responsive-sm">
  <table class="table table-sm">
    <thead>
    <tr class="table-success">
      <th scope="col">Courses</th>
      <th scope="col">Download</th>
      <th scope="col">Feedback</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let report of reports; let i = index">
      <td>Course {{i + 1}}</td>
      <td>
        <button class="download-labs"><i class="fa fa-file"><br class="name-new-line">
          <p class="name-lab">{{ report.id }}</p></i></button>
      </td>
      <td>
        <button>Add feedback</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
