<div class="container table-responsive">

  <table class="table table-sm table-hover">
    <thead>
    <tr  class="table-success">
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Specialty</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let group of groups">
      <th scope="row">{{group.id}}</th>
      <td>{{group.name}}</td>
      <td>{{group.specialty_id}}</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>C174</td>
      <td>Computers</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>M263</td>
      <td>Medicine</td>
    </tr>
    </tbody>
  </table>

</div>
