<div class="container table-responsive">

  <table class="table table-sm table-hover">
    <thead>
    <tr  class="table-success">
      <th scope="col">#</th>
      <th scope="col">Firstname</th>
      <th scope="col">Lastname</th>
      <th scope="col">Phone Number</th>
      <th scope="col">Email</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let student of students">
      <th scope="row">{{user.id}}</th>
      <td>{{student.firstName}}</td>
      <td>{{student.lastName}}</td>
      <td>{{student.phoneNumber}}</td>
      <td>{{student.email}}</td>
    </tr>



    <tr>
      <th scope="row">2</th>
      <td>Adolf</td>
      <td>Hitler</td>
      <td>068111043</td>
      <td>hahaah@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Hihi</td>
      <td>Haha</td>
      <td>068583751</td>
      <td>papinire@fat</td>
    </tr>
    </tbody>
  </table>

</div>
