<div class="container">
  <div class="text-center" *ngIf="teacher; else noTeacher">
    <h1>{{teacher.firstName}} {{teacher.lastName}}</h1>
    <br>

    <h3>First Name : {{teacher.firstName}}</h3>
    <h3>Last Name : {{teacher.lastName}}</h3>
    <h3>Email : {{teacher.email}}</h3>
    <h3>Phone Number : {{teacher.phoneNumber}}</h3>

    <button type="button"
            class="btn btn-success"
            (click)="openEditModal()">Edit</button>
    <button class="btn btn-danger"
            (click)="openDeleteModal()">Delete</button>
    <br>
  </div>
  
 <ng-template #noTeacher>
    <h1>Error on getting this teacher !!!</h1>
    <div class="text-center">
      <button type="button"
              class="btn btn-primary "
              routerLink="/teachers">Go back</button>
    </div>
  </ng-template>
  <br>
</div>
