<div class="container">
  <app-local-alert [alerts]="alerts"></app-local-alert>
</div>
<div class="container"
     *ngIf="teacher">
  <h1 class="text-center">{{teacher.firstName}} {{teacher.lastName}}</h1>
  <h3>First Name: {{teacher.firstName}}</h3>
  <h3>Last Name: {{teacher.lastName}}</h3>
  <h3>Email: {{teacher.email}}</h3>
  <h3>Phone Number: {{teacher.phoneNumber}}</h3>

  <button appHasRole="admin"
          class="btn btn-danger mt-2 mb-2 mr-2"
          (click)="openDeleteModal()"
          #input>Delete</button>

  <button appHasRole="admin"
          class="btn btn-success mt-2 mb-2 mr-2"
          (click)="openEditModal()">Edit</button>
</div>
