<div class="container">
  <app-local-alert [alerts]="alerts"></app-local-alert>
</div>
<div class="container">
  <div *ngIf="teacher;">
    <h1>{{teacher.firstName}} {{teacher.lastName}}</h1>
    <br>

    <h3>First Name : {{teacher.firstName}}</h3>
    <h3>Last Name : {{teacher.lastName}}</h3>
    <h3>Email : {{teacher.email}}</h3>
    <h3>Phone Number : {{teacher.phoneNumber}}</h3>

    <button appHasRole="admin"
            type="button"
            class="btn btn-success"
            (click)="openEditModal()">Edit
    </button>
    <button appHasRole="admin"
            class="btn btn-danger"
            (click)="openDeleteModal()">Delete
    </button>
    <br>
  </div>
  <br>
</div>
