<app-local-alert [alerts]="alerts"></app-local-alert>
<div class="container">
  <div class="card"
       appHasRole="teacher">
    <h1>{{user.firstName}} {{user.lastName}}</h1>
    <div class="card-body">
      <h6>First Name: {{user.firstName}}</h6>
      <h6>Last Name: {{user.lastName}}</h6>
      <h6>Email: {{user.email}}</h6>
      <h6>Phone Number: {{user.phoneNumber}}</h6>
      <h6>Role: {{user.userRole}}</h6>
    </div>
  </div>
</div>
<hr>

<div>
  <tabset #staticTabs
          appHasRole="teacher">
    <tab heading="My Courses">
      <app-user-courses [user]="user"></app-user-courses>
    </tab>
    <tab heading="My Groups">
      <app-user-groups [user]="user"></app-user-groups>
    </tab>
    <tab heading="My Students">
      <app-user-students [user]="user"></app-user-students>
    </tab>
  </tabset>
</div>
<br><br>
