.activated {
  background-color: #9f8060;
  border-radius: 10px;
}

.button {
  color: #d98026;
  border-color: #d98026;
}

.button:hover {
  background-color: #8c8073;
}

.button:active{
  background-color: #9f8060!important;
  border-color: #d98026!important;
}
.button:active:after{
  background-color:  #9f8060!important;
  border-color: #d98026!important;
}
.nav-link {

}

img {
  width: 45px;
  height: 45px;
}

.icon {
  color: #d98026;
  font-size: 200% !important;
  padding-left: 2px;
}

.icon:hover {
  color: #f0b375;
  padding-left: 0%;
}

.search:hover {
  border-color: #d98026;
}

.nvbar-right {
  margin-left: 30%;
  margin-right: 0% !important;
}

.search-form {
  display: inline-block;
}
