.activated {
  background-color: #9f8060;
  border-radius: 10px;
  @media screen and (max-width: 1000px) {
    padding-left: 10px;
  }
}

.app-nav {
  padding: 0;
  z-index: 1;
  @media screen and (max-width: 651px) {
    padding: 0;
  }
}

a {
  color: #a6a6a6;
}

img {
  width: 45px;
  height: 45px;
}

ul {
  list-style-type: none;
}

.icon {
  color: #d98026;
  font-size: 200% !important;
  padding-left: 2px;
  &:hover {
    color: #f0b375;
  }
}

.nvbar-right {
  margin-left: 30%;
  margin-right: 0;
}

.navbar-toggler {
  padding: 0;
}

.toggle-container {
  border: 0;
}

.dropfont {
  position: absolute;
  width: 80vw;
  top: 100%;
  padding: 10px;
  font-size: 15px;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  @media screen and (max-width: 651px) {
    width: 100vw;
  }
}

.dropdown-menu {
  width: 80vw;
  padding: 30px;
}
