<ng-container *ngIf="authenticatedVerify(); then authenticatedTemplate; else unauthenticatedTemplate"></ng-container>

<ng-template #authenticatedTemplate>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark app-nav">
    <div class="container">

      <a class="navbar-brand btn btn-secondary bg-dark menubtn"
         (click)="isCollapsed = true">
        <i class="fa fa-home icon"
           routerLink=""></i>
      </a>

      <!--big screen-->
      <div class="collapse navbar-collapse block">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"
              *ngFor="let item of items"
              routerLinkActive="activated">
            <a class="nav-link"
               routerLink={{item.url}}>{{item.name}}</a>
          </li>
        </ul>
        <h1 class="role">{{userRole}}</h1>
      </div>

      <app-user-dropdown [isCollapsed]="isCollapsed"
                         class="nvbar-right ml-auto"> </app-user-dropdown>

      <div class="btn-group navbar-toggler toggle-container">
        <button type="button"
                class="btn btn-secondary bg-dark menubtn"
                (click)="changeCollapse()">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <ul class="collapse bg-dark dropdown-menu-right dropfont"
          role="menu"
          (click)="isCollapsed = true"
          [collapse]="isCollapsed">
        <li routerLinkActive="activated"
            *ngFor="let item of items">
          <a class="nav-link"
             routerLink={{item.url}}>{{item.name}}</a>
        </li>
      </ul>
    </div>
  </nav>
</ng-template>

<ng-template #unauthenticatedTemplate>
  <nav class="bg-dark pt-1 pb-1">
    <h1 class="site-name text-center">Better Moodle
      <span class="site-name__version">v1</span>
    </h1>
  </nav>
</ng-template>
