<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="" [class.activated]="currentUrl == '/'">
      <img src="../../../../assets/images/logo.png" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample07">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" [class.activated]="currentUrl == '/teachers'">
          <a class="nav-link" routerLink="teachers">Teachers</a>
        </li>
        <li class="nav-item" [class.activated]="currentUrl == '/students'">
          <a class="nav-link" routerLink="students">Students</a>
        </li>
        <li class="nav-item" [class.activated]="currentUrl == '/courses'">
          <a class="nav-link" routerLink="courses">Courses</a>
        </li>
        <li class="nav-item" [class.activated]="currentUrl == '/groups'">
          <a class="nav-link" routerLink="groups">Groups</a>
        </li>
        <li class="nav-item" [class.activated]="currentUrl == '/specialties'">
          <a class="nav-link" routerLink="specialties">Specialties</a>
        </li>
      </ul>
      <form class="form-inline mt-2 mt-md-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>